@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font> {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* universal styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


p,
a {
    font-family: "Inter", sans-serif;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
}

h1,
h2,
h2,
h3,
h4 {
    font-family: "Noto Serif", serif;

}

/* Shared Styles */
.display-flex {
    display: flex;
}

.m-auto {
    margin: 0 auto;
}

.primary-color {
    color: #E95A08;
}

.btn-primary {
    background-color: #E95A08;
    font-weight: 600;
    color: white;
    padding: 20px 0px;
    border: none;
}

/* Header Styles */
.header {
    max-width: 1140px;
    margin-bottom: 120px;
}

.logo-img {
    width: 100%;

}

.navbar {
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 120px;
    padding: 0px 10px;
}


.navlinks>ul {
    list-style: none;
    gap: 3rem;
}

.navlinks>ul>li>a {
    text-decoration: none;
    color: black;
    text-wrap: nowrap;
}

#shop,
#about {
    color: #8987A1;
}

#home {
    font-weight: 700;
}

.banner {
    align-items: end;

}

.banner-img {
    width: 100%;
}

.banner-left {
    width: 50%;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: black;
}

.banner-right {
    flex: 1;
}

/* plant section styles */

.plants {
    max-width: 1140px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 0px 10px;
    margin-bottom: 210px;
}

.plant-title {
    font-size: 3.1rem;
}

.plant-subtitle {
    max-width: 75%;
    margin-bottom: 30px;
}

.plant-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
}

.pcard {
    flex-direction: column;
    gap: 20px;
}

.pcard img {
    width: 100%;
    margin-bottom: 10px;
}

.pcard-name {
    font-size: 1.4rem;
    font-weight: 500;
}

.pcard-price {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 10px;
}


/* plants-lover section styles */

.plants-lover {
    max-width: 1140px;
    gap: 60px;
    padding: 0px 10px;
    margin-bottom: 120px;
    position: relative;
}

.plants-lover-left {
    width: 50%;
}

.plants-lover-left img {
    width: 100%;
}

.plants-lover-right {
    flex: 1;
    row-gap: 20px;
    padding-top: 40px;
}

.pl-section-title {
    font-size: 3rem;
    font-weight: 700;
}

.pl-detailed-list {
    padding: 25px;

}

.pl-detailed-list>ul>li {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;

}

.trusted-batch {
    position: absolute;
    width: 25%;
    left: 380px;
    top: -120px;
}

.trusted-batch img {
    width: 100%;
}

/* deals-section styles */


.latest-deals {
    max-width: 1140px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
    padding: 0px 10px;
    margin-bottom: 120px;
}

.deals-title {
    font-size: 3rem;
    font-weight: 700;
}

.deals-description {
    max-width: 75%;
    margin-bottom: 5rem;
}

.deals-img-cards {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(2, 200px);
    gap: 30px;
    width: 100%;
}


.deals-card {

    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#c-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/deal-bloom.png);

}

#c-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/deal-zabo.png);
    grid-row: span 2;

}

#c-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/deal-ana.png);
}

.dcard-text {
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.dcard-link {
    color: white;
    font-weight: 600;
    font-size: 1rem;
}

#zabo-plant {
    font-size: 2.5rem;
    margin: 0;
}

#zabo-link {
    font-size: 1.75rem;
}


/* join section styles */

.join {
    background-image: url(../assets/news-letter-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12rem 0px;
    margin-bottom: 100px;
}

.join>h2 {
    font-size: 3rem;
    font-weight: 700;
    color: white;
    margin-bottom: 1.5rem;
}

.email-field {
    width: 650px;
}

.join-cta button {
    padding: 15px 50px;
    font-size: 1rem;
}

.email-field {
    padding-left: 10px;
    letter-spacing: 1px;
    outline: none;
}




/* Responsive Media Query */

@media screen and (max-width:576px) {

    html {
        font-size: 10px;
    }

    #home,
    #shop,
    #about {
        display: none;
    }

    .banner {
        flex-direction: column-reverse;
        align-items: baseline;
        gap: 2rem;

    }

    .banner-left {
        width: 100%;
        padding: 0px 10px;
    }

    .plants {
        margin-bottom: 50px;
    }

    .plant-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .plants-lover {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 50px;
    }

    .plants-lover-left {
        width: 100%;
    }

    .trusted-batch {
        display: none;
    }

    .deals-img-cards {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 200px);
    }

    #c-2 {
        grid-row: span 1;
    }



    #zabo-plant,
    .dcard-text {
        font-size: 2rem;
        margin: 2rem;
    }

    #zabo-link,
    .dcard-link {
        font-size: 1.5rem;
    }

    .email-field {
        width: auto;
    }

    .join-cta button {
        padding: 15px 25px;
    }




}